.new h2 {
  color:#3D68AD;;
  margin:10px;
  padding-top:10px;
  font-size:1.25em;
  font-weight:bold;
}
.new a {
  margin:10px;
  color:purple;
    font-weight:bold;
}
.new p {
  margin:10px;
  color:darkblue;
    font-weight:bold;
}
#imageGallery li{
    list-style:none;
}
