
h1{
  color:#3D68AD;
  font-size:3.5em;
  font-family:"arial";
  max-width:100%;
  font-weight:bold;
  }
h5{
  color:#3D68AD;
  font-size:1.25em;
}
*{
  font-family:"arial";
  max-width:100%;
 }

/*h1{
  font-weight:bold;
  font-size:3.5em;
  font-family:"arial";
  color:#3C609D;
}
*/
.container-fluid{
  background:white;
}
.winners ul{
  color:purple;
  font-weight:bold;
  font-size:1.5em;
}

.winners li{
  color:black;
  padding-top:5px;
  list-style:none;
  font-size:.75em;
}

.events ul{
  font-weight:bold;
  font-size:1.25em;
  color:purple;
}

.derbysponsor img{
  padding-top:20px;
}
.sideimage li{
  list-style:none;
}

.events li{
  color:black;
  padding-top:15px;
  list-style:none;
  font-size:.75em;
}

img.logo{
  height: 106px;
  width:auto;
  margin-top:10px;
  margin-bottom:5px;
}
img#facebook{
  width:auto;
  margin-top:30px;
  height:40px;
}

img.car{
  padding-top:5px;
  border-radius:05%;
  overflow:hidden;
}
footer{
  color:steelblue;
  background-color:white;
  font-family:impact;
  border-top: 2px solid blue;
  background-image:linear-gradient(#002,#000);
  font-size:.75em;
  margin-top:10px;
}
/* Media Queries */
@media (max-width:300px),
  {
      h1{
      font-size:1.25em;
    }
      img.logo{
      height: 50px;
      width:auto;
      margin-top:5px;
      margin-bottom:10px;
    }
      img#facebook{
      height:20px;
      width:auto;
      margin-top:20px;
    }

  }
@media (min-width:301px) and (max-width:380px),

  {
      h1{
      font-size:2em;
    }
      img.logo{
      height: 73px;
      width:auto;
      margin-top:10px;
      margin-bottom:5px;
    }
      img#facebook{
      height:30px;
      width:auto;
      margin-top:30px;
    }


  }
@media (min-width:381px) and (max-width:768px),

  {
      h1{
      font-size:2.25em;
    }
      img.logo{
      height: 73px;
      width:auto;
      margin-top:10px;
      margin-bottom:5px;
    }
      img#facebook{
      height:30px;
      width:auto;
      margin-top:30px;
    }
  }
